body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#other-subnets.hidden {
  display: none;
}

div#other-subnets.shown {
  display: block;
  z-index: 10;
}

div#other-subnets {
  position: fixed;
  padding: 20px;
  width: 90vw;
  height: 90vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  background-color: rgba(24, 25, 28, 0.95);
}

div#other-subnets div {
  margin: 0 auto 15px auto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

div#other-subnets span {
  display: inline-block;
  margin: 4px 8px;
}
